@import "../sass/utils/variables";
@import "../sass/utils/mixins";

.page {
  display: flex;
  flex-direction: column;
  width: 100%;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #2f2f2f;
    height: 35px;
  }

  &_title {
    font-family: var(--font-family--kanit-regular);
    font-size: 18px;
    letter-spacing: -0.36px;

    @media screen and (min-width: $tablet) {
      font-size: 24px;
      letter-spacing: -0.48px;
    }
  }

  &_rate_title {
    color: var(--color-text-desc);
  }

  &_rate_value {
    font-family: var(--font-family--roboto-mono-bold);
    font-size: 18px;
    line-height: 1.4;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
  }

  &_rate_desc {
    font-size: 12px;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }

  &_form_btn {
    @include button;
    margin-top: auto;
  }
}

.claim_available {
  margin-top: 24px;
  padding-top: 2px;
  color: var(--color-text-desc);

  @media screen and (min-width: $tablet) {
    margin-top: 16px;
  }

  :last-child {
    color: var(--color-text-main);
  }
}

.claim_available_value {
  font-family: var(--font-family--roboto-mono-bold);
  color: var(--color-text-main);
}

@media screen and (min-width: $tablet) {
  .stake_btn {
    width: 130px;
  }

  .withdraw_btn {
    width: 160px;
    margin-top: 0;
  }

  .claim_btn {
    width: 210px;
  }
}

.withdrow_buttons_box {
  display: flex;
  margin-top: auto;
}

.withdraw_btn_all {
  @media screen and (max-width: $max-tablet) {
    display: none;
  }

  width: 358px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--color-accent);
  }
}
