@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.withdrow_buttons_box {
  display: flex;
  margin-top: auto;
}

.withdraw_btn_all {
  @media screen and (max-width: $max-tablet) {
    display: none;
  }

  width: 358px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--color-accent);
  }
}
