@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.hero {
  &_container {
    @include container;
    @media screen and (min-width: $desktop) {
      position: relative;
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  padding-top: 22px;
  width: 100%;
  height: 184px;

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    height: 208px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    height: 211px;
  }

  &_title {
    width: 224px;

    font-family: var(--font-family--kanit-regular);
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: normal;

    @media screen and (min-width: $tablet) {
      width: 100%;
      font-size: 40px;
      line-height: 1.4;
    }

    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }

  &_info {
    display: flex;
    margin-top: 26px;
    height: 44px;

    @media screen and (min-width: $tablet) {
      margin-top: 18px;
      height: 72px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 16px;
      height: 56px;
    }

    & > li {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      margin-right: 12px;
      gap: 4px;

      font-size: 12px;
      letter-spacing: -0.24px;

      @media screen and (min-width: $mob-tab) {
        margin-right: 20px;
      }

      @media screen and (min-width: $tablet) {
        font-size: 16px;
        margin-right: 24px;
        gap: 8px;
      }
      @media screen and (min-width: $desktop) {
        margin-right: 40px;
      }
    }

    & > :last-child {
      margin-right: 0;
    }

    &_balance {
      width: 98px;

      @media screen and (min-width: $tablet) {
        width: 170px;
      }

      @media screen and (min-width: $desktop) {
        width: 309px;
      }
    }

    &_apr {
      width: 72px;

      @media screen and (min-width: $tablet) {
        width: 120px;

        & > .hero_info_desc {
          margin-right: 30px;
        }
      }

      @media screen and (min-width: $desktop) {
        width: auto;
        & > .hero_info_desc {
          margin-right: 0px;
        }
      }
    }

    &_days {
      display: flex;
      align-items: start;
      width: 30px;

      @media screen and (min-width: $tablet) {
        width: 88px;
      }

      @media screen and (min-width: $desktop) {
        width: auto;
      }

      & > .hero_info_desc {
        @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
          margin-right: 30px;
        }
      }
    }

    &_rewards {
      width: 92px;

      @media screen and (min-width: $tablet) {
        width: 144px;
      }

      @media screen and (min-width: $desktop) {
        width: 260px;
      }
    }
  }

  &_amount {
    font-size: 18px;
    font-family: var(--font-family--roboto-mono-bold);
    letter-spacing: -0.36px;

    @media screen and (min-width: $tablet) {
      font-size: 28px;
      letter-spacing: normal;
    }

    @media screen and (min-width: $desktop) {
      font-size: 36px;
    }
  }

  &_stru {
    line-height: 17px;

    @media screen and (min-width: $tablet) {
      line-height: 21px;
    }

    @media screen and (min-width: $desktop) {
      line-height: 26px;
    }
  }

  &_info_desc {
    @media screen and (min-width: $desktop) {
      line-height: 26px;
    }
  }
}
